<div class="column is-one-quarter">
	<nav class="panel1">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			trend1			
		</a>
		<a class="panel-block">
			trend2			
		</a>
		<a class="panel-block">
			trend3			
		</a>
		<a class="panel-block">
			trend4			
		</a>
		<a class="panel-block">
			trend5			
		</a>
		<a class="panel-block">
			trend6			
		</a>
		<a class="panel-block">
			trend7			
		</a>
	</nav>
</div>